<div class="page_title">
<h1>EXHIBITS</h1>
</div>

<div id="exhibit-wrapper">
  <div class="exhibit">
<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Created</th>
    <th></th>
    <th>Artist</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Image</th>
  </tr>
</div>
  <% for exhibit in @exhibits %>
  <tr>
    <td><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a></td>
    <td>|</td>
    <td><%= exhibit.date %></td>
    <td>|</td>
    <td><%= exhibit.get_artist_name%></td>
    <td>|</td>
    <td><%= exhibit.category%></td>
    <td>|</td>
    <td><img src="<%= exhibit.image %>" height="150" width="150"></td>
  </tr>
  <% end %>
</table>
</div>
